body{
  font-family: monospace;
}


.App{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1dbc1935-6542-4ee3-822f-135cff4ba62c/df0z2r9-386b837f-e8a4-4843-b09a-c9158e718b48.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFkYmMxOTM1LTY1NDItNGVlMy04MjJmLTEzNWNmZjRiYTYyY1wvZGYwejJyOS0zODZiODM3Zi1lOGE0LTQ4NDMtYjA5YS1jOTE1OGU3MThiNDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.4eQ0pmK059dregFTQHWY8B4wM6-CqUlA8JKZEP9bT9c');
  background-size: 150px; 
  background-position: center; 
  background-repeat: no-repeat; 
}


.bildeL {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  z-index: -1; /* Place it behind everything */
}


.quiz-container {
  max-width: 300px;
  margin: auto;
  margin-top: 80px;
  color: #28B44C;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.question-container {
  margin-bottom: 20px;
}

.options-container {
  list-style-type: none;
  padding: 0;
}

.options-container li {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options-container li:hover {
  background-color: #242424;
}

.result-container {
  text-align: center;
  margin-top: 20px;
}

.result-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #379029;
  color: #28B44C;
  border-radius: 4px;
  cursor: pointer;
}

.result-container button:hover {
  background-color: #242424;
}
