.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("https://media.castforward.de/foto/24048.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJjZmV0IiwiYXVkIjoiY2ZldCIsImlhdCI6MTY0MjUyNTYyMiwiZXhwIjoxNjQyNTMyODIyLCJkYXRhIjp7ImNkbl9zY29wZSI6ImZvdG8iLCJjZG5faWQiOjI0MDQ4LCJ1c2VyX3Byb2ZpbGVJZCI6MCwibm9JbmRleCI6ZmFsc2V9fQ.yVCLtQRlbW4dsJVWy-C3tCffTFxABiMU5hb_p1eNqQ4");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.oppgavebox1{
  background-color: rgba(58, 118, 9, 0.95);
  text-shadow: 2px 2px 5px red;
  min-width: 1223px;
  border: solid white 1px;
}

.oppgavebox2{
  background-color: rgba(188, 155, 253, 0.95);
  text-shadow: 2px 2px 5px red;
  min-width: 1223px;
  border: solid white 1px;
}

h1 {
  background-color: #61dafb;
  text-shadow: 2px 2px 5px darkgreen;
  min-height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  border: solid white 1px;
  align-items: center;
}
