body {
  margin: 0;
  background-color: #9B4F96;
  background-image: radial-gradient(circle at center center, #D60270, #9B4F96), repeating-radial-gradient(circle at center center, #D60270, #D60270, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;  
}




.clock {
  
  font-size: 30px;
  color: #E4FFFB;
 width: 100%;
 height: 200px;
 display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



