*{
  overflow: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #2ECC71;
  color: white; 
  position: sticky;
  top: 0;
}

.mainbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%; 
  border: solid black 1px;
  font-size: 2em;
}

button{
  width: 10%;	
  height: 80%;
  background-color: #28B463;
  color: white;
  border: solid pink 1px;
}

.form-container {
  max-height: 400px;
  overflow: auto;
  width: 100%;
  border: 15px;
  padding: 50px;
  margin: 20px;
}


form {
  max-width: 200px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 50px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
