.L {
    background: white;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    border: solid 1px;
    justify-content: center;
    height: 100%;
    
}


.B {

top: 0;
left: 0;
width: 99.91%;
height: 100%;
display: flex;
background-color: whitesmoke;
justify-content: center;
align-items: center;
border: solid 1px;

}