.Home {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}


/* Style for borrowed equipment */
.borrowed {
  background-color: #FF474C; /* red */
}

/* Style for available equipment */
.available {
  background-color: #90ee90; /* Light green */
}

/* Logins */

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 20px auto; /* Center the container */
}

.login-container h2 {
  margin-top: 0;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-container input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #0056b3;
}

.login-container button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.login-container button:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 10px;
}


/* Register Page */

.register {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  margin: 20px auto; /* Center the container */
}

.register h1 {
  margin-top: 0;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.register input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.register input[type="submit"]:hover {
  background-color: #0056b3;
}

.register button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.register button:hover {
  text-decoration: underline;
}

.register .error-message {
  color: red;
  margin-top: 10px;
}
